*{
  box-sizing:border-box;
  margin:0%;
  padding: 0%;
  font-family: "Poppins", sans-serif;
}
body{
    background-color:#F4EFEF;
}
header{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo{
    height: 8vh;
}
#icons{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    display: grid;
    gap: 10px;
}
#icons p{
    font-family: "Poppins", sans-serif;
    color: #F78CA2;
    text-shadow: 4px 4px 12px rgba(0,0,0,0.7);
}
#icons a{
    text-decoration: none;
}
input{
    border-radius: 50px;
    background-color: #DCDBFA;
    border-color: #8F8CF0;
    padding: 8px 50px;
}
#botoes{
    height: 6vh;
    background-color: #8F8CF0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.bntPrincipal{
    display: flex;
    background-color:#8F8CF0;
    text-decoration: none;
    color:white;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
}
.bntPrincipal:hover{
    background-color: #5A57D2;
    transition: 0.5s;
}
#produtos{
    margin-top: 5%;

}
#produtos h1{
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#textoP{
    margin-bottom: 2%;
    display: flex;
    justify-content: center;
}
#produtosP{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    gap: 30px;
    width: 75%;
    margin-left: 13%;
}
#produtosP div{
    width: 100%;
    text-align: center;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.3);
    background-color: white;
}
.racao{
    width: 300px;
    height: 100px;
}
#produtosP div>img{
    width: 300px;
    height: 350px;
}

#produtosP div p{
    display: flex;
    justify-content: center;
}
#produtosP h1{
    color: #FF9770;
    margin-bottom: 2%;
    display: flex;
    justify-content: center;
}
.btnComprar{
    display: flex;
    justify-content: center;
    padding: 1% 5%;
    font-weight: 700;
    font-size: 25px;
    color: white;
    text-decoration: none;
    background-color: #FF9770;
    border-radius: 50px;
}
footer{
    width: 100%;
    justify-content: center;
    display: flex;
    margin-top: 1%;
    background-color: #8F8CF0;
    height: 10vh;
}
footer p{
    margin-top: 2%;
}